/* Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration */

/* Color scheme */
@define-color green rgb(159, 202, 86);
@define-color grey rgb(40, 42, 43);
@define-color red rgb(205, 63, 69);
@define-color yellow rgb(230, 205, 105);

* {
    border: none;
    border-radius: 0;
    font-family: FreeSans;
    font-size: 13px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#waybar {
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    background-color: rgba(40, 42, 43, 0.5);
    color: white;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    border-top: 2px solid transparent;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    color: white;
}

#workspaces button.focused {
    background-color: @grey;
    color: white;
    border-color: #4C7899;
}

#workspaces button.urgent {
    color: @red;
    border-color: @red;
}

#mode {
    background-color: @yellow;
    color: @grey;
}

#mode,
#mpd,
#network,
#backlight,
#idle_inhibitor,
#battery,
#custom-keyboard-layout,
#tray {
    padding-left: 12px;
    padding-right: 12px;
}

#network.disconnected {
    color: @yellow;
}

#idle_inhibitor.activated {
    background-color: white;
    color: @grey;
}

#battery.warning {
    background-color: @yellow;
    color: @grey;
}

#battery.critical {
    background-color: @red;
    color: @grey;
}

@keyframes blink {
    to {
        background-color: @grey;
    }
}

#battery.critical.discharging {
    animation-name: blink;
    animation-delay: 5s;
    animation-direction: alternate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
